.banner {
  position: relative;
  height: 223px;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../assets/picturehome.png');
    background-size: cover;
    background-position: center;
    filter: brightness(0.5); 
    z-index: 1;
  }

  h1 {
    position: relative;
    z-index: 2; 
    color: white;
    font-size: 48px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    @media screen and (max-width: 600px) {
      font-size: 30px;
      padding: 5px;
    }
  }
}
.mobile-break {
  display: none;

  @media screen and (max-width: 600px) {
    display: inline;
  }
}