@import "../styles/variables";

.collapse {
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  width: 1000px; 
  padding-bottom: 10px;
  font-family: Montserrat, serif;
   @media (max-width: 1039px) {
           width: 700px;
        }
           @media (max-width: 738px) {
           width: 500px;
        }
               @media (max-width: 542px) {
           width: 300px;
        }


&-title {
  background: $maincolor;
  color: white;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 24px;
}

&-content {
  background: #f6f6f6;
  color: black;
  padding: 15px;
  font-size: 18px;
}
}