.logo {
  img {
    height: 100%; 
  }

  @media screen and (max-width: 415px) {
    img {
      height: 50px;
    }
  }
    @media screen and (max-width: 364px) {
    img {
      height: 35px;
    }
  }
}