$maincolor: #FF6060;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $maincolor;
    font-family: Monserrat, sans-serif;
    gap: 20px;
    padding-bottom: 50px;
    h2{
        font-size: 10rem;
    }
    p{
font-size: 1.5rem;
    }
    a{
        color: black;
    }

}