.collapse {
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden; //sinon border radius ne saffiche pas
  width: 900px; 
  font-family: Montserrat, serif;
   @media (max-width: 950px) {
           width: 400px;
        }


&-title {
  background: red;
  color: white;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

&-content {
  background: #f6f6f6;
  padding: 10px;
}
}